.management {
    & .managementHeader {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: white;
        padding: 1rem;
        border-radius: 8px;
        margin: 1.5rem 1.5rem 0;
        color: #212121;

        & h2 {
            font-size: 1.5rem;
            padding-left: 1rem;
            margin: 0;
            color: #212121;
        }
    }

    & .managementContent {
        background-color: white;
        width: max-content;
        min-width: 400px;
        border-radius: 8px;
        margin: 4rem auto;
        padding: 1.5rem;

        & h4 {
            font-size: 1.2rem;
            margin-bottom: 1rem;
            color: #212121;
        }

        & form {
            display: grid;
            gap: 1rem;
        }
    }

    & .managementForm {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: white;
        padding: 1rem;
        border-radius: 8px;
        margin: 1.5rem 1.5rem 0;
        color: #212121;
    }
}
