.card {
    width: 280px;
    max-width: 334px;
    display: grid;
    gap: 2rem 1rem;
    background-color: aliceblue;
    color: #212121;
    border-radius: 8px;
    padding: 1rem 2rem;

    .cardHeader {
        height: 150px;
        display: flex;
        justify-content: center;
        margin-right: -100px;
        margin-left: -100px;
        cursor: pointer;

        img {
            width: 280px;
            min-height: 100px;
            height: 150px;
            object-fit: contain;
        }
    }

    .cardBody {
        min-height: 190px;

        & h3 {
            min-height: 50px;
            cursor: pointer;
        }
    }
}
