.card {
    width: 280px;
    display: grid;
    gap: 1rem;
    background-color: aliceblue;
    color: #212121;
    border-radius: 8px;

    .card-header {
        height: 150px;

        img {
            width: 280px;
            height: 150px;
            object-fit: contain;
        }
    }
}
