.filterSortContainer {
    background-color: aliceblue;
    border-radius: 8px;
    padding: 1rem;
    margin: 2rem 1rem 0;
    color: #212121;

    & h3 {
        margin-top: 0;
    }
}

.filterSortContainerInputs {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    align-items: flex-end;
    gap: 1rem;
}

.filterButtons {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 5rem));
}

.filterButton {
    max-width: 5rem;
    min-height: 3rem;
    background-color: #646cff;

    &:disabled {
        background-color: #d3d3d3;
        color: gray;
        border: 0;
    }

    & img {
        width: 1.5rem;
    }
}

.filterButtonClear {
    background-color: rgb(215, 140, 0);
}
