.input,
.select {
    display: flex;
    flex-direction: column;

    & label {
        margin-bottom: 1rem;
    }

    & .inputField,
    .selectField {
        max-width: 250px;
        border-radius: 7px;
        padding: 10px;
        background-color: white;
        color: #212121;
        border: 0;

        &:focus {
            outline: none;
        }

        &:disabled {
            background-color: #d3d3d3;
            color: gray;
        }
    }
}

.inputField.invertColor {
    border: 1px solid #ccc;
    color: #212121;
}

.inputLabel.invertColor {
    color: #212121;
}
