.layout {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(345px, 345px));
    place-items: center;
    justify-content: center;
    gap: 1rem;
    padding: 2rem 1rem;

    .error,
    .loading {
        text-align: center;
    }
}
