.layout {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(345px, 345px));
    place-items: center;
    justify-content: center;
    gap: 1rem;
    padding: 2rem 1rem;

    .error {
        display: block;
        margin: 0 auto;
    }
}

.loading {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
}
