.sidebarBackdrop {
    position: fixed;
    background: rgba(0, 0, 0, 0.7);
    z-index: 1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.sidebar {
    position: fixed;
    display: grid;
    grid-template-rows: auto 1fr auto;
    width: 300px;
    height: calc(100vh - 1rem);
    top: 0;
    right: 0;
    z-index: 2;
    background: #f3f3f3;
    color: black;
    padding: 1rem;

    & .sidebarHeader {
        display: flex;
        justify-content: space-between;
        align-items: center;

        & img {
            width: 24px;
            cursor: pointer;
        }
    }

    & .sidebarItems {
        display: grid;
        grid-template-rows: repeat(auto-fit, minmax(130px, 150px));
        gap: 1rem;
        overflow-y: auto;
    }

    & .sidebarTotal {
        display: flex;
        justify-content: space-between;
    }
}
