.sidebar-backdrop {
    position: fixed;
    background: rgba(0, 0, 0, 0.7);
    z-index: 1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.sidebar {
    position: fixed;
    width: 300px;
    height: 100vh;
    top: 0;
    right: 0;
    z-index: 2;
    background: #f3f3f3;
    color: black;
    padding: 1rem;

    & .sidebar-header {
        display: flex;
        justify-content: space-between;
        align-items: center;

        & span {
            font-size: 2rem;
            cursor: pointer;
        }
    }
}
